.view-display {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

input {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  background: transparent;
  border: none;
  border-bottom: 1px solid black;

  &:focus {
    outline: none;
  }
}
