@import '~rfs/scss';
.view-display {
  @include font-size(inherit);
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

input {
  @include font-size(inherit);
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  background: transparent;
  border: none;
  border-bottom: 1px solid black;

  &:focus {
    outline: none;
  }
}
