.card {
  position: relative;
  z-index: 12;
  border-radius: 12px;
  height: 234px;
  width: 100%;
  padding: 22px 26px;
  margin-bottom: 26px;

  .card-body {
    .card-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0em;
    }
  }

  .card-footer {
    padding: 0px;
    background-color: white;
    border-top: none;
    color: #888;
    font-size: 16px;
    span.delete-activity-button {
      font-size: 20px;
    }
  }
}
