<div data-cy="activity-modal-delete" class="modal-container">
  <div class="modal-header justify-content-center align-items-center">
    <img src="assets/svgs/modal-delete-icon.svg" alt="Delete Icon" />
  </div>
  <div class="modal-body" ngbAutoFocus>
    <p class="dialog-text" [innerHTML]="dialog"></p>
  </div>
  <div class="modal-footer justify-content-center">
    <primary-button
      btnClass="secondary"
      label="Batal"
      [showIcon]="false"
      (onClick)="dismiss()"
    ></primary-button>
    <primary-button
      btnClass="danger"
      [loading]="isLoading"
      label="Hapus"
      [showIcon]="false"
      (onClick)="close(true)"
    ></primary-button>
  </div>
</div>
