.activity-detail-container {
  padding-top: 43px;
  .activity-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .todo-back-button-container {
      i::before {
        font-weight: 900 !important;
        font-size: 32px;
        margin-right: 11px;
      }
    }

    .todo-title-edit-button {
      &::before {
        position: relative;
        // bottom: 5px;
        margin-left: 11px;
        content: url("/assets/svgs/edit-icon.svg");
      }
    }
  }

  .todos-loading-indicator {
    height: calc(100vh - 132.8px - 131.4px); // 100vh - (app-header) - (activity-header)
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.inline-edit {
  font-size: 36px;
  font-weight: 700 !important;
  line-height: 54px;
  letter-spacing: 0em;
}
