<div class="container activity-detail-container">
  <form [formGroup]="form">
    <div class="activity-detail-header">
      <div class="d-flex align-items-center">
        <span
          class="todo-back-button-container cursor-pointer"
          data-cy="todo-back-button"
          (click)="back()"
        >
          <i class="bi bi-chevron-left"></i>
        </span>
        <inline-edit
          #inlineEdit
          [viewDisplay]="viewDisplayTemplate"
          [value]="f['title'].value"
          class="inline-edit"
          id="activity"
          (valueChange)="updateTitle($event)"
        ></inline-edit>
        <span
          (click)="inlineEdit.setFocus()"
          class="todo-title-edit-button cursor-pointer"
          data-cy="todo-title-edit-button"
        ></span>
      </div>

      <!-- <h1 data-cy="activity-detail-title"></h1> -->
      <!--sort-->
      <primary-button
        data-cy="todo-add-button"
        label="Tambah"
        icon="bi-plus-lg"
        btnClass="primary"
        (onClick)="addTodo()"
      ></primary-button>
    </div>
  </form>

  <ng-container *ngIf="todosIsLoading; else hasTodos">
    <div class="todos-loading-indicator">
      <div class="spinner-border spinner-border-md text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ng-container>
  <!-- <div>{{ form.value | json }}</div> -->
</div>

<ng-template #viewDisplayTemplate>
  <span data-cy="activity-title">{{ f["title"].value }}</span>
</ng-template>

<ng-template #hasTodos>
  <todo-list
    [todos]="todoList$ | async"
    (itemDeleted)="loadTodoList()"
    (itemUpdated)="loadTodoList()"
  ></todo-list>
</ng-template>
