/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #E5E5E5;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-content {
  border-radius: 12px;
}